* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf');
}

h1 {
    text-align: center;
    color: white;
    margin: 15px 10px;
}

body {
    background-color: rgb(33, 92, 92);
}

[wm-flappy] {
    position: relative;
    height: 700px;
    width: 1200px;
    margin: auto;
    border: 5px solid rgb(29, 68, 73);
    overflow: hidden;
    background-color: rgb(82, 230, 230);
}

.passaro {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
    user-select: none;
}

.par-de-barreiras {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    height: 100%;
}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira .borda {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, 
    #639301, #A5E8A3);
    border: 2px solid black;
}

.barreira .corpo {
    height: 150px;
    width: 110px;
    background: linear-gradient(90deg,
    #639301, #A5E8A3);
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.progresso {
    position: absolute;
    top: 5px;
    left: 1080px;
    font-family: cursive;
    font-size: 70px;
    z-index: 1;
    user-select: none;
    text-shadow: 3px 4px 1px rgba(0, 0, 0, 0.801);
}